# Understanding Pandas Series and DataFrames - Lab

## Introduction

In this lab, let's get some hands-on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

- Use the `.map()` and `.apply()` methods to apply a function to a pandas Series or DataFrame 
- Perform operations to change the structure of pandas DataFrames 
- Change the index of a pandas DataFrame 
- Change data types of columns in pandas DataFrames 

## Let's get started! 

Import the file `'turnstile_180901.txt'`.

In [20]:
# Import the required libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
# Import the file 'turnstile_180901.txt'
df = pd.read_csv('turnstile_180901.txt')

# Print the number of rows ans columns in df
print(df.shape)

# Print the first five rows of df
df.head()

(197625, 11)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

Rename all the columns to lower case:

In [35]:
df.columns = df.columns.str.lower()

Change the index to `'linename'`:

In [23]:
df.set_index('linename', inplace = True)

Reset the index:

In [28]:
# Reset the index - done above via inplace parameter
df.index

Index(['NQR456W', 'NQR456W', 'NQR456W', 'NQR456W', 'NQR456W', 'NQR456W',
       'NQR456W', 'NQR456W', 'NQR456W', 'NQR456W',
       ...
       'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R'],
      dtype='object', name='linename', length=197625)

Create another column `'Num_Lines'` that is a count of how many lines pass through a station. Then sort your DataFrame by this column in descending order. 

*Hint: According to the [data dictionary](http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt), LINENAME represents all train lines that can be boarded at a given station. Normally lines are represented by one character. For example, LINENAME 456NQR represents trains 4, 5, 6, N, Q, and R.*

In [33]:
df['num_lines']  = df.index.str.len()

,c/a,unit,scp,station,division,date,time,desc,entries,exits,num_lines
linename,,,,,,,,,,,
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/27/2018,16:00:00,REGULAR,1118459,4178977,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/27/2018,20:00:00,REGULAR,1118677,4179430,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/28/2018,00:00:00,REGULAR,1118755,4179536,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/28/2018,04:00:00,REGULAR,1118756,4179541,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/28/2018,08:00:00,REGULAR,1118768,4179773,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/28/2018,12:00:00,REGULAR,1118838,4180351,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/28/2018,16:00:00,REGULAR,1118935,4180505,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/28/2018,20:00:00,REGULAR,1119153,4180999,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/29/2018,00:00:00,REGULAR,1119239,4181141,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/29/2018,04:00:00,REGULAR,1119243,4181151,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/29/2018,08:00:00,REGULAR,1119251,4181376,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/29/2018,12:00:00,REGULAR,1119294,4182107,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/29/2018,16:00:00,REGULAR,1119383,4182452,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/29/2018,20:00:00,REGULAR,1119577,4183002,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/30/2018,00:00:00,REGULAR,1119671,4183151,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/30/2018,04:00:00,REGULAR,1119676,4183163,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/30/2018,08:00:00,REGULAR,1119682,4183396,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/30/2018,12:00:00,REGULAR,1119735,4184110,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/30/2018,16:00:00,REGULAR,1119835,4184502,7
NQR456W,A002,R051,02-03-00,59 ST,BMT,08/30/2018,20:00:00,REGULAR,1120035,4185047,7

Write a function to clean column names:

In [38]:
def clean(col_name):
    cleaned = col_name.strip()
    return cleaned

In [39]:
df.columns = [clean(col) for col in df.columns]

In [40]:
# Check to ensure the column names were cleaned
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc',
       'entries', 'exits', 'num_lines'],
      dtype='object')

- Change the data type of the `'date'` column to a date 
- Add a new column `'day_of_week'` that represents the day of the week

In [ ]:
# Convert the data type of the 'date' column to a date


# Add a new column 'day_of_week' that represents the day of the week

In [ ]:
# Group the data by day of week and plot the sum of the numeric columns
grouped = df.groupby('day_of_week').sum()
grouped.plot(kind='barh')
plt.show()

- Remove the index of `grouped` 
- Print the first five rows of `grouped`

In [ ]:
# Reset the index of grouped
grouped = None

# Print the first five rows of grouped

Add a new column `'is_weekend'` that maps the `'day_of_week'` column using the dictionary `weekend_map`

In [ ]:
# Use this dictionary to create a new column 
weekend_map = {0:False, 1:False, 2:False, 3:False, 4:False, 5:True, 6:True}

# Add a new column 'is_weekend' that maps the 'day_of_week' column using weekend_map
grouped['is_weekend'] = grouped['day_of_week'].map(weekend_map)

In [ ]:
# Group the data by weekend/weekday and plot the sum of the numeric columns
wkend = grouped.groupby('is_weekend').sum()
wkend[['entries', 'exits']].plot(kind='barh')
plt.show()

Remove the `'c/a'` and `'scp'` columns.

In [ ]:
# Remove the 'c/a' and 'scp' columns
df = None
df.head(2)

## Analysis Question 

What is misleading about the day of week and weekend/weekday charts you just plotted?

In [ ]:
# Your answer here

## Summary

Great! You practiced your data cleanup skills using Pandas.